In [1]:
import pandas as pd
import numpy as np
from datetime import date as dt

from helpers import utils

/usr/local/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/usr/local/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
logger = utils.get_logger(__name__)

In [3]:
df = (
    pd.read_csv(utils.get_raw_file('company_files_all.csv'), low_memory=False)
    .assign(company = lambda x: x.company.str.strip())
    .assign(loaddate = lambda x: pd.to_datetime(x.loaddate, errors='coerce'))
    .assign(listdate = lambda x: pd.to_datetime(x.listdate, errors='coerce'))
)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 626360 entries, 0 to 626359
Data columns (total 8 columns):
loaddate     626360 non-null datetime64[ns]
listdate     618978 non-null datetime64[ns]
market       626134 non-null object
company      626149 non-null object
sector       625552 non-null object
subsector    625933 non-null object
marketcap    624914 non-null object
country      626134 non-null object
dtypes: datetime64[ns](2), object(6)
memory usage: 38.2+ MB

In [4]:
df.head()

,loaddate,listdate,market,company,sector,subsector,marketcap,country
0,1999-01-01,1998-06-30,AIM,10 GROUP,Media,Media Agencies,0,UK
1,1999-01-01,1994-07-18,UK Listed,3I GROUP,Investment Trusts,Venture & Development Capital,0,UK
2,1999-01-01,1973-03-25,UK Listed,3I SMALLER QUOTED COMPANIES TRUST,Investment Trusts,UK Investment Trusts,0,UK
3,1999-01-01,1947-03-14,UK Listed,600 GROUP,Engineering,"Engineering, General",0,UK
4,1999-01-01,1998-10-01,UK Listed,A DE GRUCHY HLDGS,"Retailers, General","Retailers, Multi Department",0,UK

In [5]:
df_lse = (
    pd.read_csv(utils.get_raw_file('lse_all_components-20180808.csv'), low_memory=False)
    .assign(symbol = lambda x: x.symbol.str.rstrip('.'))
    .assign(company = lambda x: x.company.str.strip())
)
df_lse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24557 entries, 0 to 24556
Data columns (total 5 columns):
symbol      24557 non-null object
company     24557 non-null object
isin        24557 non-null object
currency    24557 non-null object
price       11235 non-null float64
dtypes: float64(1), object(4)
memory usage: 959.3+ KB

**Companies from company files that don't have matching company names in symbol index**:

In [6]:
len(set(df.company.unique()).difference(set(df_lse.company.unique())))

10401

In [7]:
df_lse[df_lse.duplicated(subset='company', keep=False)]

      symbol          company                   isin currency     price
161     0RE0   11 BIT STUDIOS   PL11BTS00015ZZPLNITR      PLN       NaN
162     0RE0   11 BIT STUDIOS  PL11BTS00015PLPLNSSX4      PLN    501.00
181     2GOO  2X ALPHABET ETP  IE00BF01VY89ZZGBXETC2      GBX   2081.50
182     GOO2  2X ALPHABET ETP  IE00BF01VY89IEUSDETCS      USD     27.01
183     AMZ2    2X AMAZON ETP  IE00BF03XH11IEUSDETCS      USD     47.04
184     2AMZ    2X AMAZON ETP  IE00BF03XH11ZZGBXETC2      GBX   3632.00
185     2AAP     2X APPLE ETP  IE00BF03XJ35ZZGBXETC2      GBX   2124.50
186     AAP2     2X APPLE ETP  IE00BF03XJ35IEUSDETCS      USD     27.52
187     2CSC     2X CISCO ETP  IE00BF03XK40ZZGBXETC2      GBX   1932.75
188     CSC2     2X CISCO ETP  IE00BF03XK40IEUSDETCS      USD     25.04
189     2CIT      2X CITI ETP  IE00BF03XL56ZZGBXETC2      GBX   1379.00
190     CIT2      2X CITI ETP  IE00BF03XL56IEUSDETCS      USD     17.86
191      2KO  2X COCACOLA ETP  IE00BF03XM63ZZGBXETC2      GBX   1598.75
192      KO2  2X COCACOLA ETP  IE00BF03XM63IEUSDETCS      USD     20.70
193     2DIS    2X DISNEY ETP  IE00BF03XN70ZZGBXETC2      GBX   1781.00
194     DIS2    2X DISNEY ETP  IE00BF03XN70IEUSDETCS      USD     23.06
195      2FB  2X FACEBOOK ETP  IE00BF03XP94ZZGBXETC2      GBX   1419.50
196      FB2  2X FACEBOOK ETP  IE00BF03XP94IEUSDETCS      USD     18.39
197      GE2        2X GE ETP  IE00BF03XQ02IEUSDETCS      USD     10.59
198      2GE        2X GE ETP  IE00BF03XQ02ZZGBXETC2      GBX    817.38
199      2GS   2X GOLDMAN ETP  IE00BF03XR19ZZGBXETC2      GBX   1341.25
200      GS2   2X GOLDMAN ETP  IE00BF03XR19IEUSDETCS      USD     17.37
201     2IBM       2X IBM ETP  IE00BF03XS26ZZGBXETC2      GBX   1358.25
202     IBM2       2X IBM ETP  IE00BF03XS26IEUSDETCS      USD     17.60
203     2INT     2X INTEL ETP  IE00BF03XT33ZZGBXETC2      GBX   1862.25
204     INT2     2X INTEL ETP  IE00BF03XT33IEUSDETCS      USD     24.13
205     2JNJ       2X J&J ETP  IE00BF03XV54ZZGBXETC2      GBX   1314.25
206     JNJ2       2X J&J ETP  IE00BF03XV54IEUSDETCS      USD     17.02
207     JPM2  2X JPMORGAN ETP  IE00BF03XW61IEUSDETCS      USD     24.26
208     2JPM  2X JPMORGAN ETP  IE00BF03XW61ZZGBXETC2      GBX   1872.50
...      ...              ...                    ...      ...       ...
24322   XRSG    XRUSL 2000 1C  IE00BJZ2DD79ZZGBXETF2      GBX  18063.50
24323   XMRC  XRUSSIACP SW 1C  LU0322252502LUGBXETFS      GBX   2056.50
24324   XMRD  XRUSSIACP SW 1C  LU0322252502ZZUSDETF2      USD     26.50
24325   XRMU       XRUSSL MID  IE00BJZ2DC62IEUSDETFS      USD     24.07
24326   XRSS       XRUSSL MID  IE00BJZ2DC62ZZGBXETF2      GBX   1868.25
24330   XDEW       XS&P500 EW  IE00BLNMYC90LUUSDETFS      USD     52.42
24331   XDWE       XS&P500 EW  IE00BLNMYC90ZZGBXETF2      GBX   4068.50
24334   XSFR  XSEL FRONTIERSW  LU0328476410LUGBXETFS      GBX   1092.25
24335   XSFD  XSEL FRONTIERSW  LU0328476410ZZUSDETF2      USD     14.07
24361   XDUS             XUSA  IE00BJ0KDR00IEGBXETFS      GBX   5933.00
24362   XD9U             XUSA  IE00BJ0KDR00ZZUSDETF2      USD     76.44
24368   XWLD        XWORLD 1C  IE00BJ0KDQ92ZZGBXETF2      GBX   4798.00
24369   XDWD        XWORLD 1C  IE00BJ0KDQ92LUUSDETFS      USD     61.83
24433   55GQ  YORK WTR SVS 39  XS0440541752ZZGBPCWTR      GBP       NaN
24434   55GT  YORK WTR SVS 39  XS0439818039ZZGBPCWTR      GBP       NaN
24438   34XW      YORK.BS. 23  XS1793287472ZZEURCWTR      EUR       NaN
24439   59VM      YORK.BS. 23  XS1318364731ZZEURCWTR      EUR       NaN
24487   0QSI   ZDRAVL ROGASKA  SI0031200791SIEURSSX4      EUR      1.25
24488   0OP4   ZDRAVL ROGASKA  SI0031115767SIEURSSX4      EUR      2.00
24506   0QQD  ZIMMER BIOMET H   US98956P1021USCHFITR      CHF       NaN
24507   0QQD  ZIMMER BIOMET H  US98956P1021DECHFSSX4      CHF    114.00
24513   0GOZ  ZKB GO ETF(GBP)  CH0104493298CHGBPSSX4      GBP       NaN
24514   0GP0  ZKB GO ETF(GBP)  CH0104493306CHGBPSSX4      GBP       NaN
24516   0VQH  ZKB GOLD ETF ET  CH0047533523CHEURSSX4      EUR   1056.80
24517   0MKF  ZKB GOLD ETF ET  CH0047533549CHUSDSSX4      USD   1246.00
24520   0VR8  ZKB SILV ETF HE  CH0183136024CHCHFSSX4      CHF     39.97
24521   0VR9  ZKB SILV ETF HE  CH0183136040CHEURSSX4      EUR    104.28
24522   0VR5   ZKB SILVER ETF  CH0183135976CHCHFSSX4      CHF     49.15
24523   0VR6   ZKB SILVER ETF  CH0183135992CHEURSSX4      EUR    131.86
24524   0VR7   ZKB SILVER ETF  CH0183136008CHUSDSSX4      USD    155.02

[9385 rows x 5 columns]